#navbar-brand {
  margin-right: 40px;
  font-size: 35px;
  font-weight: bold;

}

#navbar {
  height: inherit;


  @media (min-width: 990px) {
    display: none;
  }

  /* background-attachment: fixed;
background-color: chocolate;
color: aliceblue;
  height: 50px;

  /* position: fixed; 
  top: 0;
  width: 100%; */

}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}



nav ul {
  font-size: 1.3rem;
}